/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}
img {
  display: block;
  object-fit: cover;
}
p {
  margin-bottom: 0px;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(186 100% 69%);
}
