<div class="container">
  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="flex">
    <button class="glowing-btn">
      <div>
        <span class="glowing-txt"
          >C<span class="faulty-letter">L</span>ICK&#160;ON</span
        >
      </div>
      <div>
        <span class="glowing-txt"
          >THEI<span class="faulty-letter">M</span>A<span
            class="faulty-letter-2"
            >G</span
          >E</span
        >
      </div>
    </button>

    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
      class="ngx-gallery"
    ></ngx-gallery>
  </div>
</div>
