.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.hint {
  position: absolute;
  top: 180px;
  right: 350px;
  background-color: #5d5c5c;
  box-shadow: 0px 10px 60px -12px inset, 0px 18px 36px -18px inset;
  color: var(--glow-color);
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #8bd0f8;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.greetings {
  display: flex;
  align-items: center;
  background-color: #2d2d2d;
  height: 100px;
  color: #cec8cd;
  overflow: hidden;
}

.greetings-text:after {
  content: "Welcome everyone! Bienvenidos a todos! Xin chào mọi người! Ласкаво просимо! Sejam todos bem-vindos! !ברוכים הבאים";
}

.greetings-text:before {
  content: "Welcome everyone! Bienvenidos a todos! Xin chào mọi người! Ласкаво просимо! Sejam todos bem-vindos! !ברוכים הבאים";
}
.greetings-text {
  font-size: 50px;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  animation: text 15s infinite linear;
  padding-left: 100%;
  white-space: nowrap;
}
.giant {
  font-size: 300px;
  line-height: 1.5;
  font-weight: 700;
}

.list {
  transition: background-color 1s ease;
}

.color-violet {
  background-color: #7a4eab;
}

.color-indigo {
  background-color: #4332cf;
}

.color-blue {
  background-color: #2f8fed;
}

.color-green {
  background-color: #4dcf42;
}

.color-white {
  background-color: #ffffff;
}
.color-orange {
  background-color: #f19031;
}
.color-red {
  background-color: #f2293a;
}

@keyframes text {
  0% {
    transform: translate(-30%, 0);
  }

  100% {
    transform: translate(-40%, 0);
  }
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
