.container {
  height: 300vh;
  position: relative;
  background-color: #000000;
  margin: 0;
  overflow-x: hidden;
}

.map {
  height: 100vh;
  background-image: url(../../../../assets/img/path-here/MapChart_Map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.cont {
  height: 120px;
  width: 120px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 30%;
}
.text {
  position: absolute;
  font-family: Iceland;
  color: #00baff;
  font-size: 26px;
  top: -100%;
  left: 0;
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.circle {
  background-color: #fff;
  height: 120px;
  width: 120px;
  display: block;
  border: 5px solid #00baff;
  border-radius: 100px;
  position: absolute;

  bottom: 0;
  z-index: 1;
  animation-name: circle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}
.fa {
  font-size: 42px;
  color: #00baff;
  bottom: 27px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  animation-name: arrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}
.pulse {
  margin: 0 auto;
  border-radius: 100px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 0;
  background-color: transparent;
  opacity: 0;
  width: 110px;
  height: 110px;
  border: 10px solid #00baff;
  border-radius: 100px;
  animation: pulse 1s linear infinite 0.3s;
  border-image: initial;
}
@keyframes arrow {
  0% {
    bottom: 0;
  }
  75% {
    bottom: 90px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes circle {
  0% {
    height: 120px;
  }
  10% {
    height: 120px;
  }
  50% {
    height: 130px;
  }
  75% {
    height: 150px;
  }
  90% {
    height: 130px;
  }
  100% {
    height: 120px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  8% {
    transform: scale(0);
    opacity: 0;
  }
  15% {
    transform: scale(0.1);
    opacity: 1;
  }
  30% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.thatsAll {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../../../assets/img/path-here/that_s_all_folks_space_jam_by_toon1990_dc6kiet-fullview.jpg)
    no-repeat center center;
  background-size: cover;
  transition: all 0.5s ease 0s;
  overflow-x: hidden;
}

.thatsAll:before {
  content: "";
  position: absolute;
  font-family: Arial, Helvetica, serif;
  bottom: 0vmin;
  font-weight: 500;
  font-size: 1.35vmin;
  color: #fffd;
  border-radius: 1px;
  padding: 20vmin 2vmin 3vmin;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  background: linear-gradient(0deg, black, transparent);
  width: 100vw;
  text-align: center;
}

.thatsAll:after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 20vmin 0vmin #000000 inset, 0 0 3vmin 0.5vmin #000000 inset,
    0 0 1vmin 1vmin #000000;
}

.film,
.effect {
  width: 100vw;
  height: 100vh;
  filter: blur(0.45px) drop-shadow(0px 0px 0px #fff1);
}

.film:after,
.effect:after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  animation: film-scratch 0.45s steps(1) infinite;
  background: repeating-linear-gradient(
    90deg,
    #0002 0 2px,
    transparent 4px 37vmin
  );
}

.effect:after {
  position: absolute;
  left: 30%;
  animation: effect-scratch 2s infinite;
}

.grain {
  width: 100vw;
  height: 100vh;
}

.grain:after {
  position: absolute;
  content: "";
  width: 100vw;
  height: 100vh;
  top: -5%;
  left: -5%;
  opacity: 0.25;
  background-image: repeating-conic-gradient(
      #000000 0%,
      transparent 0.00003%,
      transparent 0.0005%,
      transparent 0.00095%
    ),
    repeating-conic-gradient(
      #000000 0%,
      transparent 0.00005%,
      transparent 0.00015%,
      transparent 0.0009%
    );
  animation: grain 0.5s steps(1) infinite;
  filter: drop-shadow(0px 0px 1px black);
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(1%, 1%);
  }
  30% {
    transform: translate(-2%, -2%);
  }
  40% {
    transform: translate(3%, 3%);
  }
  50% {
    transform: translate(-3%, -3%);
  }
  60% {
    transform: translate(4%, 4%);
  }
  70% {
    transform: translate(-4%, -4%);
  }
  80% {
    transform: translate(2%, 2%);
  }
  90% {
    transform: translate(-3%, -3%);
  }
}

@keyframes film-scratch {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
    opacity: 0.75;
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.25;
  }
  90% {
    transform: translateX(-2%);
  }
}

@keyframes effect-scratch {
  0% {
    transform: translateX(0);
    opacity: 0.75;
  }
  10% {
    transform: translateX(-1%);
  }
  20% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-2%);
  }
  40% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  60% {
    transform: translateX(8%);
  }
  70% {
    transform: translateX(-3%);
  }
  80% {
    transform: translateX(10%);
    opacity: 0.25;
  }
  90% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(30%);
  }
}
