<div class="container">
  <div class="flex">
    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="fas fa-futbol"></i>
          <h3>Football</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <img
            src="./assets/img/hobbies/cristiano-ronaldo-goal.gif"
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="fas fa-music"></i>
          <h3>EDM</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <img
            src="./assets/img/hobbies/teddy-cream-music.gif"
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>

    <div class="card">
      <div class="face face1">
        <div class="content">
          <i class="fas fa-film"></i>
          <h3>Movies</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <img
            src="./assets/img/hobbies/thats-it-yes-thats-it.gif"
            width="300"
            height="200"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="arrow-container">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
    <span class="text">Scroll down</span>
  </div>
  <div class="gallery-div">
    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
      class="ngx-gallery"
    ></ngx-gallery>
  </div>
</div>
