<div class="container">
  <div class="wakeupcall">
    <p class="date">02.24.2022</p>
    <p class="date2">We woke up to this</p>
  </div>
  <div><p class="text1">Those kids grew up too early</p></div>
  <div class="hero"></div>
  <div>
    <video
      class="firstVideo"
      autoplay
      muted
      controls
      onloadstart="this.volume=0.1"
    >
      <source src="./assets/img/war/6.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="kherson"></div>
  <div class="dnipro"></div>
  <div class="secondDivVideo">
    <video
      class="secondVideo"
      autoplay
      muted
      controls
      onloadstart="this.volume=0.1"
    >
      <source src="./assets/img/war/7.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="oda" (scroll)="(onWindowScroll)">
    <p class="stopTheWar">STOP THE WAR</p>
  </div>
  <button class="to-top" (click)="goUp()">Back to top</button>
</div>
