.container {
  height: 700vh;
  position: relative;
}

.hero {
  height: 100vh;
  background-image: url(../../../../assets/img/war/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.date {
  position: absolute;
  top: 40%;
  left: 27%;
  color: #ffffff;
  font-family: Iceland;
  font-size: 150px;
}

.date2 {
  position: absolute;
  top: 80%;
  left: 26%;
  color: #ffffff;
  font-family: Iceland;
  font-size: 100px;
  animation: fadeInText ease 6s;
}

.kherson {
  height: 100vh;
  background-image: url(../../../../assets/img/war/2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wakeupcall {
  height: 100vh;
  background-image: url(../../../../assets/img/war/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  animation: fadeIn ease 4s;
}

.dnipro {
  height: 100vh;
  background-image: url(../../../../assets/img/war/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.oda {
  height: 100vh;
  background-image: url(../../../../assets/img/war/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  /* padding-bottom: 40px; */
}

.fadeOut {
  background-color: #000000;
  animation: color-me-in ease 5s 3s;
  animation-fill-mode: forwards;
}

@keyframes color-me-in {
  0% {
    background: #ffffff;
  }
  100% {
    background: #000000;
  }
}

.stopTheWar {
  animation: fadeOutText ease 5s;
  z-index: 10;
  position: absolute;
  top: 35%;
  left: 8%;
  font-size: 220px;
  line-height: 1.5;
  font-family: Iceland;
  display: none;
}

.text1 {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin-bottom: 0px;
  font-family: Iceland;
}

.firstVideo {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

.secondDivVideo {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.secondVideo {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.abc {
  display: block;
}

.to-top {
  display: block;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.to-top:hover {
  color: pink;
  border-color: pink;
}
